@charset "uft-8";
*{margin:0; padding:0; box-sizing: border-box;}

#loading{width: 100%; height: 100%; background-color: #f591a2; position: absolute;}
span{font-family: 'Baloo 2', cursive; font-size: 40px; color: white;}