@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{ margin:0; padding:0; width:100%; height:100%; position:relative;}
body{overflow:hidden;;}
ul, li, ol{list-style: none;}
a{text-decoration: none;}


/* #loading{width: 100%; height: 100%; position: absolute;}
span{font-family: 'ONE-Mobile-POP'; font-size: 35px; color: white;}
.loading_box{position: absolute; top: 45%; left: 42%; z-index: 10;}
.text{display:inline-block;}

.moving{position: absolute; top: 5px; animation-name: textbox; animation-duration: 0.5s; animation-iteration-count: 1;}
.move{position: absolute; top: 10px; animation-name: textbox; animation-duration: 0.5s; animation-iteration-count: 1; animation-timing-function: linear;}
.logo{margin-left: -30px;}
.n{margin-left: 30px; animation-delay: 0.2s;}
.o{margin-left: 60px; animation-delay: 0.5s;}
.w{margin-left: 90px; animation-delay: 0.8s;}
.l{margin-left: 135px; animation-delay: 1.1s;}
.oo{margin-left: 155px; animation-delay: 1.4s;}
.a{margin-left: 185px; animation-delay: 1.7s;}
.d{margin-left: 215px; animation-delay: 2.0s;}
.i{margin-left: 240px; animation-delay: 2.3s;}
.nn{margin-left: 255px; animation-delay: 2.6s;}
.g{margin-left: 285px; animation-delay: 2.9s;}
.bk{width: 100%; height: 100%; position: absolute; background-color: #f591a2; z-index: 8;opacity: 0.6;}

@keyframes textbox{
  from{
    top: 20px;
  }
  to{
    top: -10px;
  }
} */

header{width: 100%; height: 50px; background-color: #f591a2; display: flex;}
#headerLeft{width: 80%; height: auto; display: flex; justify-content: right;}
.logoBox{width:75%; height: auto; display: flex; justify-content: center; align-items: center;}
h4{margin-left: 10px; font-family: 'Baloo 2', cursive; font-size: 20px; color:white;}
#headerRight{width: 20%; height: auto; display: flex; justify-content: left; align-items: center;}
.search{width:200px; height: 25px; border: none; border-radius: 10px; opacity: 0.5; position: relative;}
.search::placeholder{padding-left: 10px;}
.search:focus{padding-left: 10px;}
.iconSearch{position:absolute; right: 10%; cursor: pointer;}

.wrap{width:500%; height:100%; position:relative;}
.box{width:calc(100%/5); height:100%; position:relative; float:left;}

.cocktailBox1{display: flex; height: 100%; animation: fadein 1s;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.cocktailBox1 li{flex: 1; height: 100%; transition: all 1s; background: no-repeat center cover; filter: brightness(65%); padding-right: 1%;}
.cocktailBox1 li:hover{flex: 1.5; filter: brightness(100%); transition: 0.3s ease-in-out;}
.cocktailBox1 li:nth-child(1){background-image: url(../img/cocktailS.jpg); background-size: cover; background-position: center;}
.cocktailBox1 li:nth-child(2){background-image: url(../img/cocktailZ.jpg); background-size: cover; background-position: center;}
.cocktailBox1 li:nth-child(3){background-image: url(../img/cocktailJ.jpg); background-size: cover; background-position: center;}
.cocktailBox1 li:nth-child(4){background-image: url(../img/cocktailR.jpg); background-size: cover; background-position: center;}
.cocktailBox1 li:nth-child(5){background-image: url(../img/cocktailD.jpg); background-size: cover; background-position: center;}
.cocktailBox1 li .cocktailText{opacity: 0;}
.cocktailBox1 li:hover .cocktailText{opacity:1; transition: all 0.3s; font-size: 50px; text-shadow: 0 0 5px black; text-align: right; margin-top: 750px; font-weight: lighter; color: white; display: block; cursor: pointer; font-family: 'Pacifico', cursive;}


.cocktailBox2{display: flex; height: 100%; animation: fadein 1s;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.cocktailBox2 li{flex: 1; height: 100%; transition: all 1s; background: no-repeat center cover; filter: brightness(65%); padding-right: 1%;}
.cocktailBox2 li:hover{flex: 1.5; filter: brightness(100%); transition: 0.3s ease-in-out;}
.cocktailBox2 li:nth-child(1){background-image: url(../img/cocktailX.jpg); background-size: cover; background-position: center;}
.cocktailBox2 li:nth-child(2){background-image: url(../img/cocktailC.jpg); background-size: cover; background-position: center;}
.cocktailBox2 li:nth-child(3){background-image: url(../img/cocktailF.jpg); background-size: cover; background-position: center;}
.cocktailBox2 li:nth-child(4){background-image: url(../img/cocktailT.jpg); background-size: cover; background-position: center;}
.cocktailBox2 li:nth-child(5){background-image: url(../img/cocktailK.jpg); background-size: cover; background-position: center;}
.cocktailBox2 li .cocktailText{opacity: 0;}
.cocktailBox2 li:hover .cocktailText{opacity:1; transition: all 0.3s; font-size: 50px; text-shadow: 0 0 5px black; text-align: right; margin-top: 750px; font-weight: lighter; color: white; display: block; cursor: pointer; font-family: 'Pacifico', cursive;}


.cocktailBox3{display: flex; height: 100%; animation: fadein 1s;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.cocktailBox3 li{flex: 1; height: 100%; transition: all 1s; background: no-repeat center cover; filter: brightness(65%); padding-right: 1%;}
.cocktailBox3 li:hover{flex: 1.5; filter: brightness(100%); transition: 0.3s ease-in-out;}
.cocktailBox3 li:nth-child(1){background-image: url(../img/cocktailB.jpg); background-size: cover; background-position: center;}
.cocktailBox3 li:nth-child(2){background-image: url(../img/cocktailH.jpg); background-size: cover; background-position: center;}
.cocktailBox3 li:nth-child(3){background-image: url(../img/cocktailO.jpg); background-size: cover; background-position: center;}
.cocktailBox3 li:nth-child(4){background-image: url(../img/cocktailL.jpg); background-size: cover; background-position: center;}
.cocktailBox3 li:nth-child(5){background-image: url(../img/cocktailN.jpg); background-size: cover; background-position: center;}
.cocktailBox3 li .cocktailText{opacity: 0;}
.cocktailBox3 li:hover .cocktailText{opacity:1; transition: all 0.3s; font-size: 50px; text-shadow: 0 0 5px black; text-align: right; margin-top: 750px; font-weight: lighter; color: white; display: block; cursor: pointer; font-family: 'Pacifico', cursive;}


.cocktailBox4{display: flex; height: 100%; animation: fadein 1s;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.cocktailBox4 li{flex: 1; height: 100%; transition: all 1s; background: no-repeat center cover; filter: brightness(65%); padding-right: 1%;}
.cocktailBox4 li:hover{flex: 1.5; filter: brightness(100%); transition: 0.3s ease-in-out;}
.cocktailBox4 li:nth-child(1){background-image: url(../img/cocktailE.jpg); background-size: cover; background-position: center;}
.cocktailBox4 li:nth-child(2){background-image: url(../img/cocktailY.jpg); background-size: cover; background-position: center;}
.cocktailBox4 li:nth-child(3){background-image: url(../img/cocktailA.jpg); background-size: cover; background-position: center;}
.cocktailBox4 li:nth-child(4){background-image: url(../img/cocktailQ.jpg); background-size: cover; background-position: center;}
.cocktailBox4 li:nth-child(5){background-image: url(../img/cocktailM.jpg); background-size: cover; background-position: center;}
.cocktailBox4 li .cocktailText{opacity: 0;}
.cocktailBox4 li:hover .cocktailText{opacity:1; transition: all 0.3s; font-size: 50px; text-shadow: 0 0 5px black; text-align: right; margin-top: 750px; font-weight: lighter; color: white; display: block; cursor: pointer; font-family: 'Pacifico', cursive;}


.cocktailBox5{display: flex; height: 100%; animation: fadein 1s;}
@keyframes fadein {from {opacity: 0;} to { opacity: 1;}}
.cocktailBox5 li{flex: 1; height: 100%; transition: all 1s; background: no-repeat center cover; filter: brightness(65%); padding-right: 1%;}
.cocktailBox5 li:hover{flex: 1.5; filter: brightness(100%); transition: 0.3s ease-in-out;}
.cocktailBox5 li:nth-child(1){background-image: url(../img/cocktailG.jpg); background-size: cover; background-position: center;}
.cocktailBox5 li:nth-child(2){background-image: url(../img/cocktailP.jpg); background-size: cover; background-position: center;}
.cocktailBox5 li:nth-child(3){background-image: url(../img/cocktailU.jpg); background-size: cover; background-position: center;}
.cocktailBox5 li:nth-child(4){background-image: url(../img/cocktailI.jpg); background-size: cover; background-position: center;}
.cocktailBox5 li:nth-child(5){background-image: url(../img/cocktailbar.jpg); background-size: cover; background-position: center;}
.cocktailBox5 li .cocktailText{opacity: 0;}
.cocktailBox5 li:not(:last-child):hover .cocktailText{opacity:1; transition: all 0.3s; font-size: 50px; text-shadow: 0 0 5px black; text-align: right; margin-top: 750px; font-weight: lighter; color: white; display: block; cursor: pointer; font-family: 'Pacifico', cursive;}

.cocktailBox5 li:nth-child(5):hover .cocktailText{opacity:1; transition: all 0.1s; font-size: 30px; text-align: right; margin-top: 730px; color: white; display: block; font-family: 'Baloo 2', cursive; line-height: 40px; text-shadow: 0 0 5px black;}
  